serverAddr = "{{ getenv "FRPC_SERVER_ADDR" }}"
serverPort = {{ getenv "FRPC_SERVER_PORT" "8080" }}

auth.method = "{{ getenv "FRPC_AUTH_METHOD" "token" }}"
{{- if eq (getenv "FRPC_AUTH_METHOD") "token" }}
auth.token = "{{ getenv "FRPC_AUTH_TOKEN" }}"    
{{- end }}
{{- if eq (getenv "FRPC_AUTH_METHOD") "oidc" }}
auth.oidc.clientID = "{{ getenv "FRPC_AUTH_OIDC_CLIENT_ID" }}"
auth.oidc.clientSecret = "{{ getenv "FRPC_AUTH_OIDC_CLIENT_SECRET" }}"
auth.oidc.audience = "{{ getenv "FRPC_AUTH_OIDC_AUDIENCE" "frp" }}"
auth.oidc.tokenEndpointURL = "{{ getenv "FRPC_AUTH_OIDC_TOKEN_ENDPOINT_URL" }}"
{{- end }}

log.level = "{{ getenv "FRPC_LOG_LEVEL" "info" }}"

[[proxies]]
name = "{{ getenv "FRPC_NAME" "frpc" }}"
type = "{{ getenv "FRPC_TYPE" "http" }}"
localIP = "{{ getenv "FRPC_LOCAL_IP" "127.0.0.1" }}"
localPort = {{ getenv "FRPC_LOCAL_PORT" "80" }}
customDomains = ["{{ getenv "FRPC_CUSTOM_DOMAIN" }}"]
{{- if getenv "FRPC_LOCATION" }}
locations = ["{{ getenv "FRPC_LOCATION" }}"]
{{- end }}
{{- if getenv "FRPC_HTTP_USER" }}
httpUser = "{{ getenv "FRPC_HTTP_USER" }}"
{{- end }}
{{- if getenv "FRPC_HTTP_PASSWORD" }}
httpPassword = "{{ getenv "FRPC_HTTP_PASSWORD" }}"
{{- end }}
requestHeaders.set.Authorization = "Bearer {{ getenv "TOKEN" }}"
